<div class="col-md-12">
  <div class="row container" style="margin-top: 80px;">

    <div class="col-md-6">
      <div>
        <div class="md-form ">
          <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
          <input mdbInput type="text" id="form2" class="form-control">
          <label for="form2">Digite seu e-mail</label>
        </div>
        <div class="md-form">
          <mdb-icon fas icon="fas fa-unlock-alt" class="prefix"></mdb-icon>
          <input mdbInput type="text" id="form2" class="form-control">
          <label for="form2">Digite sua semha</label>
        </div>

        <button type="button" mdbBtn color="info" mdbWavesEffect>Entrar</button>

      </div>
    </div>
    <div class="col-md-6">
      <div class="image-login">
        <img src="../assets/remote-work.svg" alt="">
      </div>

    </div>
  </div>

</div>
